@import url(nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700&display=swap");
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  overflow: hidden;
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-block-start: 25px;
}

.logo {
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.logo span {
  display: block;
  color: #F55F1D;
}

.menu {
  font-family: "Poppins", serif;
  display: flex;
  list-style: none;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  gap: 20px;
  text-decoration: none;
  color: #000000;
}
.menu__link img {
  margin-inline-start: 10px;
}
.menu li:last-child .menu__link {
  background-color: #20B15A;
  line-height: 1.5;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 20px;
  inline-size: 114px;
  block-size: 54px;
  padding-block: 15px;
  padding-inline: 15px;
}

.content {
  flex: 1 1 auto;
}

.conteiner {
  max-inline-size: 1467px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  margin-inline: auto;
}

.block1 {
  inline-size: 100%;
  block-size: 100%;
  background-color: #D7F5DC;
}
.block1__conteiner {
  display: flex;
  justify-content: space-between;
}
.block1__box {
  display: flex;
  justify-content: space-between;
  margin-block-start: 67px;
}
.block1 .block1__text {
  display: flex;
  flex-direction: column;
  inline-size: 550px;
  gap: 10px;
  margin-block-start: 156px;
  margin-block-end: 80px;
}
.block1 .block1__title {
  font-family: "Poppins", serif;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 700;
}
.block1 .block1__subtitle {
  font-family: "Avenir", serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
.block1 .block1__link {
  background-color: #20B15A;
  font-family: "Poppins", serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 30px;
  inline-size: 175px;
  block-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 32px;
}
.block1 .block1__image {
  inline-size: 50%;
  block-size: 100%;
}
.block1 .partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
  block-size: 126px;
  margin-block-end: 34px;
  background-color: #F8FFF9;
}
.block1 .partners img {
  inline-size: 114px;
  block-size: 29px;
}

.block2__conteiner {
  inline-size: 495px;
}
.block2__title {
  font-family: "Poppins", serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: #20B15A;
  margin-block-start: 67px;
}
.block2__subtitle {
  font-family: "Poppins", serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
  margin-block-start: 15px;
}
.block2__carts {
  display: flex;
  justify-content: space-between;
  margin-block-start: 90px;
  margin-block-end: 100px;
}
.block2__cart {
  inline-size: 300px;
}
.block2__achievements {
  inline-size: 100%;
  block-size: 420px;
  background-color: #FAFFFB;
}

.cart {
  gap: 20px;
}
.cart__img {
  inline-size: 93px;
  block-size: 93px;
}
.cart__title {
  font-family: "Poppins", serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-block-start: 15px;
  margin-block-end: 15px;
}
.cart__text {
  font-family: "Avenir", serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.cart__link {
  font-family: "Avenir", serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  margin-block-start: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.achievements__box {
  inline-size: 1370px;
  display: flex;
  justify-content: space-around;
  padding-block-start: 120px;
  margin-inline: auto;
}

.achievements__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.achievements__img {
  inline-size: 70px;
  block-size: 70px;
}
.achievements__text {
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  margin-block-start: 10px;
  display: flex;
  flex-direction: column;
}
.achievements__text span {
  color: #20B15A;
  font-family: "Avenir", serif;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}